@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome my Google login demo app!</h1>
<br />
<AuthorizeView>
    <Authorized>
        
        <h3>
            Hello @context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.GivenName)?.Value! You are authenticated!
        </h3>        
    </Authorized>    
    <NotAuthorized>
        <h5>You are not logged in.</h5>
    </NotAuthorized>
</AuthorizeView>
<br />
<AuthorizeView Roles="Admin">
    <h5> You are logged in as an Admin.</h5>
</AuthorizeView>

<AuthorizeView Roles="User">
    <h5>You are logged in as an User.</h5>
</AuthorizeView>

