@page "/servers/{id:int}"
<h3>Edit Server</h3>
<br />
<br />

@if (server != null)
{
    <EditForm Model="server" FormName="formServer" OnSubmit="Submit">

        @* Rejtett mező a <ServerId> számára. A metódusnak át kell adni az objektumpéldány azonosítóját *@
        <InputNumber @bind-Value="server.ServerId" class="form-control" hidden></InputNumber>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Server Id:</label>
            </div>
            <div class="col-6">
                <InputNumber @bind-Value="server.ServerId" class="form-control" disabled ></InputNumber>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Name:</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="server.Name" class="form-control" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">City:</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="server.City" class="form-control" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label for="IsOnline" class="col-form-label">Online:</label>
            </div>
            <div class="col-6">
                <InputCheckbox id="IsOnline" @bind-Value="server.IsOnline" class="form-check-input" />
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
        <a href="/servers" class="btn btn-primary">Close</a>
    </EditForm>
}


@code {

    // Az Id paraméter segítségével kapjuk meg a szerver azonosítóját az URL-ből. Elmentjük 
    // egy publikus tulajdonságba, hogy a Blazor tudja kötni az útvonal paramétert ehhez a 
    // tulajdonsághoz

    [Parameter]
    public int Id { get; set; }
    
    // Ha több űrlapot használunk, akkor a FormName paraméterrel megadhatjuk, hogy melyik űrlap adatait szeretnénk betölteni
    // [SupplyParameterFromForm(FormName = "formServer")]
    // Ha csak egy űrlap van, akkor a FormName paraméter elhagyható
    [SupplyParameterFromForm]

    // A server változó tárolja a szerver adatait, amelyeket az űrlapon megjelenítünk és módosítunk
    private Server? server { get; set; }

    protected override void OnParametersSet()
    {
        // Paraméter érkezésekor végrehajtandó műveletek 
        // A ?? operátor segítségével csak akkor töltjük be a szerver adatait, ha a server változó még null értékű
        // Így elkerüljük, hogy felülírjuk a felhasználó által már módosított adatokat

        // A server változóba betöltjük az URL-ből kapott Id alapján a megfelelő szerver adatait
        server ??= ServersRepository.GetServerById(this.Id);
    }
    private void Submit()
    {
        // Az űrlap elküldésekor végrehajtandó műveletek
        ServersRepository.UpdateServer(server.ServerId, server);
    }
}
