@page "/"

<PageTitle>Home</PageTitle>

<h1>ASP.Net oktató anyagok</h1>


<div class="container-fluid text-center">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">

        <div class="col">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body">
                    <h5 class="card-title">Frank Liu</h5>
                    <p class="card-text">
                        Blazor in .NET 8 in 3 Hours | Blazor Server | WebAssembly | Entity Framework Core | ASP.NET Identity
                    </p>
                    <p><a href="https://github.com/frank-liu-toronto/BlazorDeepDive/tree/master/ServerManagement">Github</a></p>
                </div>
                <div class="card-footer border-0 mt-auto">
                    <a href="https://www.youtube.com/watch?v=LMDo38DPxZc&t=134s" class="btn btn-primary" target="_blank">Youtube</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body">
                    <h5 class="card-title">freeCodeCamp.org</h5>
                    <p class="card-text">ASP.NET Core MVC Course for Beginners (.NET 9)</p>
                </div>
                <div class="card-footer border-0 mt-auto">
                    <a href="https://www.youtube.com/watch?v=RWXKysImabs" class="btn btn-primary" target="_blank">Youtube</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body">
                    <h5 class="card-title">Julio Casal</h5>
                    <p class="card-text">ASP.NET Core Full Course For Beginners</p>
                </div>
                <div class="card-footer border-0 mt-auto">
                    <a href="https://www.youtube.com/watch?v=RWXKysImabs" class="btn btn-primary" target="_blank">Youtube</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body">
                    <h5 class="card-title">Sameer Saini</h5>
                    <p class="card-text">
                        ASP.NET Web API CRUD Operations - .NET8 and Entity Framework Core Tutorial
                    </p>
                </div>
                <div class="card-footer border-0 mt-auto">
                    <a href="https://www.youtube.com/watch?v=6YIRKBsRWVI&t=14s" class="btn btn-primary" target="_blank">Youtube</a>
                </div>
            </div>
        </div>

    </div>
</div>

