@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<p><a href="https://www.youtube.com/watch?v=LMDo38DPxZc&t=134s">Blazor in .NET 8 in 3 Hours | Blazor Server | WebAssembly | Entity Framework Core | ASP.NET Identity - By Frank Liu</a></p>
