@page "/logout"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavManager
@attribute [Authorize]
<h3>LogoutPage</h3>

@code {
    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await httpContext.SignOutAsync(AppConstants.AuthScheme);
        NavManager.NavigateTo("/");
    }
}
